

/* ===== Primary Styles ========================================================
   Author: Will Cosgrove
   ========================================================================== */

time {
  margin: 0;
  font-weight: bold;
  font-size: 11px;
  color: #999999;
  text-transform: uppercase;
  text-rendering: optimizelegibility;
}











